<v-container fluid grid-list-md text-xs-center :style="{width:size * 8 + 'px', height:height + 'px'}"
  style="padding:0%;touch-action: none;">
  <v-layout row wrap>
    <v-flex xs12>
      <v-text-field style="text-transform:none;" :height="size"
        :style="{'padding-left': size / 8 + 'px','padding-right': size / 8 + 'px', 'font-size':size*0.4+'px'}" dense
        single-line hide-details outlined :disabled="recording" v-model="scene">
        <v-btn slot="label" text style="margin: 0%; padding:0%; min-width: 0%; min-height: 0%;"
          :style="{width:size/2+'px',height:size+'px'}">
          <v-icon :size="size/2" style="vertical-align: middle">terrain</v-icon>
        </v-btn>
        <v-btn slot="append" text v-show="scene != ''" style="margin: 0%; padding:0%; min-width: 0%; min-height: 0%;"
          :style="{width:size/2+'px',height:size+'px'}" @click="scene = ''">
          <v-icon :size="size/2">clear</v-icon>
        </v-btn>
      </v-text-field>
    </v-flex>
    <v-flex xs12>
      <v-text-field style="text-transform:none;" :height="size"
        :style="{'padding-left': size / 8 + 'px','padding-right': size / 8 + 'px', 'margin-top':size/8 + 'px', 'font-size':size*0.4+'px'}"
        dense single-line hide-details outlined :disabled="recording" v-model="action">
        <v-btn slot="label" text style="margin: 0%; padding:0%; min-width: 0%; min-height: 0%;"
          :style="{width:size/2+'px',height:size+'px'}">
          <v-icon :size="size/2" style="vertical-align: middle">theaters</v-icon>
        </v-btn>
        <v-btn slot="append" text v-show="action != ''" style="margin: 0%; padding:0%; min-width: 0%; min-height: 0%;"
          :style="{width:size/2+'px',height:size+'px'}" @click="action = ''">
          <v-icon :size="size/2">clear</v-icon>
        </v-btn>
      </v-text-field>
    </v-flex>
    <v-flex xs12 :style="{'padding-left': size / 8 + 'px','padding-right': size / 8 + 'px','padding-top': size *0.2 + 'px'}">
      <v-slider style="margin: 0%;padding: 0%;" readonly hide-details :thumb-label="progress!=0?'always':false"
        ticks="always" v-model="progress" :max="actions.length">
        <template v-slot:thumb-label>{{progress==0?'#':actions[progress - 1].value}}</template>
      </v-slider>
    </v-flex>
    <v-flex xs12 style="display: flex;margin: 0%; padding:0%; min-width: 0%; min-height: 0%;">
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="recording" @click="colord=true" :color="colors[color]">
          <v-icon :size="size * 0.8">colorize</v-icon>
        </v-btn>
      </v-flex>
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="recording" @click="tap('mirror')"
          :color="context.cuber.preferance.mirror?'red':''">
          <v-icon :size="size * 0.8">flip</v-icon>
        </v-btn>
      </v-flex>
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="recording" @click="tap('hollow')"
          :color="context.cuber.preferance.hollow?'red':''">
          <v-icon :size="size * 0.8">visibility</v-icon>
        </v-btn>
      </v-flex>
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="recording" @click="quality=true">
          <v-icon :size="size * 0.8">crop</v-icon>
        </v-btn>
      </v-flex>
      <v-flex d-flex>
        <v-btn :style="style" text @click="tap('film')">
          <v-icon :size="size * 0.8">{{actions.length==0?'camera_alt':(recording?'stop':'videocam')}}</v-icon>
        </v-btn>
      </v-flex>
    </v-flex>
    <v-flex xs12 style="display: flex;">
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="(progress==0 && context.cuber.cube.history.length == 0) || recording"
          @click="init">
          <v-icon :size="size * 0.8">skip_previous</v-icon>
        </v-btn>
      </v-flex>
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="progress==0 || recording" @click="backward">
          <v-icon :size="size * 0.8">fast_rewind</v-icon>
        </v-btn>
      </v-flex>
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="progress == actions.length || recording" @click="toggle">
          <v-icon :size="size * 0.8">{{playing?'pause':'play_arrow'}}</v-icon>
        </v-btn>
      </v-flex>
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="progress==actions.length || recording" @click="forward">
          <v-icon :size="size * 0.8">fast_forward</v-icon>
        </v-btn>
      </v-flex>
      <v-flex d-flex>
        <v-btn :style="style" text :disabled="(progress==actions.length) || recording" @click="end">
          <v-icon :size="size * 0.8">skip_next</v-icon>
        </v-btn>
      </v-flex>
    </v-flex>
  </v-layout>
  <v-bottom-sheet v-model="quality">
    <v-card flat style="margin: auto;touch-action: none;user-select: none;">
      <v-container fluid grid-list-md text-xs-center :style="{width:size * 8 + 'px'}">
        <v-layout row wrap justify-center align-center>
          <v-slider v-model="pixel" always-dirty thumb-label="always" max="1024" min="128" step="128" label="像素">
          </v-slider>
        </v-layout>
        <v-layout row wrap justify-center align-center>
          <v-slider v-model="delay" always-dirty thumb-label="always" max="10" min="2" step="1" label="帧率">
            <template v-slot:thumb-label>{{Math.round(100/delay)}}</template>
          </v-slider>
        </v-layout>
        <v-layout row wrap justify-center align-center>
          <v-flex xs12 style="display: flex;">
            <v-btn :color="output=='gif'?'primary':''" depressed style="text-transform:none; min-width: 0%;flex: 1"
              @click="output='gif'">
              GIF
            </v-btn>
            <v-btn :color="output=='apng'?'primary':''" depressed style="text-transform:none; min-width: 0%;flex: 1"
              @click="output='apng'">
              APNG
            </v-btn>
            <v-btn :color="output=='pngs'?'primary':''" depressed style="text-transform:none; min-width: 0%;flex: 1"
              @click="output='pngs'">
              PNGS
            </v-btn>
          </v-flex>
        </v-layout>
        <v-layout row wrap justify-center align-center style="margin-top: 1em;">
          <v-flex xs6>
            <v-btn block @click="quality=false;" text color="primary">
              确定
            </v-btn>
          </v-flex>
          <v-flex xs6>
            <v-btn block @click="pixel=512;delay=2;output='gif';" text color="error">
              重置
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-bottom-sheet>
  <v-bottom-sheet v-model="colord">
    <v-card flat style="margin: auto;touch-action: none;user-select: none;">
      <v-container fluid grid-list-md text-xs-center :style="{width:size * 8 + 'px'}">
        <v-layout row wrap>
          <v-flex v-for="(item, index) in colors" :key="index" xs2 style="padding: 1%;">
            <v-btn @click="colord = false; color = index;" :color="item" block depressed class="headline"
              style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" :height="size">
            </v-btn>
          </v-flex>
          <v-flex xs2 style="padding: 1%;">
            <v-btn @click="clear" block text class="headline"
              style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" :height="size">
              <v-icon :size="size * 0.8" color="red">replay</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-bottom-sheet>
</v-container>