<v-app>
  <div v-resize="resize" style="user-select: none;background-color: white;">
    <viewport ref="viewport"></viewport>
    <v-btn
      fixed
      left
      top
      @click.stop="shuffled=true"
      text
      color="primary"
      style="margin:0%;padding:0%;"
      :style="{height:size+'px', 'margin-left': width / 2 - size * 4 + 'px'}"
    >
      <div :style="{'font-size':(size * 0.8)+'px'}">{{score}}</div>
    </v-btn>
    <v-container
      fluid
      grid-list-md
      text-xs-center
      :style="{width:size * 8 + 'px', height:height + 'px'}"
      style="padding:0%;touch-action: none;"
    >
      <v-layout row wrap>
        <v-flex v-for="key in keys" :key="key" d-flex xs2>
          <v-btn @click="tap(key)" :style="style" :ripple="false" :disabled="disable(key)">
            <v-icon :size="size * 0.8">{{key}}</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog v-model="shuffled" :width="size * 8">
      <v-card>
        <v-card-title style="text-transform:none;" class="headline"
          ><div :style="{'font-size':size/2+'px','padding-top':size/4+'px'}">重新打乱?</div></v-card-title
        >
        <v-card-actions>
          <v-layout row wrap style="margin: 0%;">
            <v-flex xs6 d-flex>
              <v-btn block color="red" text @click="shuffled = false;shuffle();" :height="size">
                <div :style="{'font-size':size/3+'px'}">确定</div>
              </v-btn>
            </v-flex>
            <v-flex xs6 d-flex>
              <v-btn block color="black" text @click="shuffled = false" :height="size">
                <div :style="{'font-size':size/3+'px'}">取消</div>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="completed" :width="size * 8">
      <v-card>
        <v-card-title style="text-transform:none;" class="headline"
          ><div :style="{'font-size':size/2+'px','padding-top':size/4+'px'}">复原成功</div></v-card-title
        >
        <v-card-actions>
          <v-layout row wrap style="margin: 0%;">
            <v-flex xs6 d-flex>
              <v-btn block color="black" text @click="completed = false;" :height="size">
                <div :style="{'font-size':size/3+'px'}">确定</div>
              </v-btn>
            </v-flex>
            <v-flex xs6 d-flex>
              <v-btn block color="red" text @click="completed = false;shuffle();" :height="size">
                <div :style="{'font-size':size/3+'px'}">重试</div>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</v-app>
