<v-app>
  <div v-resize="resize" style="user-select: none;background-color: white;">
    <viewport ref="viewport"></viewport>
    <v-btn
      fixed
      left
      top
      text
      color="primary"
      style="margin:0%;padding:0%;"
      :style="{height:size+'px', 'margin-left': size / 4 + 'px'}"
    >
      <div :style="{'font-size':(size * 0.6)+'px'}">{{score}}</div>
    </v-btn>
    <v-container
      fluid
      grid-list-md
      text-xs-center
      :style="{width:size * 6 + 'px', height:height + 'px'}"
      style="padding:0%;touch-action: none;"
    >
      <v-layout row wrap>
        <v-flex v-for="key in keys" :key="key" class="text-center">
          <v-btn @click="tap(key)" :style="style" text :ripple="false" :disabled="disabled[key]?disabled[key]():false">
            <v-icon :size="size * 0.8">{{key}}</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <tune v-model="tuned"></tune>
    <setting v-model="settingd"></setting>
    <layer v-model="layerd" :callback="order"></layer>
    <v-dialog v-model="shuffled" :width="size * 6">
      <v-card>
        <v-card-title style="text-transform:none;" class="headline">
          <div :style="{'font-size':size/2+'px','padding-top':size/8+'px'}">
            重新打乱?
          </div>
        </v-card-title>
        <v-card-actions>
          <v-layout row wrap style="margin: 0%;">
            <v-flex xs6 d-flex>
              <v-btn block color="red" text @click="shuffled = false;shuffle();" :height="size">
                <div :style="{'font-size':size/3+'px'}">确定</div>
              </v-btn>
            </v-flex>
            <v-flex xs6 d-flex>
              <v-btn block color="black" text @click="shuffled = false" :height="size">
                <div :style="{'font-size':size/3+'px'}">取消</div>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="completed" :width="size * 6">
      <v-card>
        <v-card-title style="text-transform:none;" class="headline">
          <div :style="{'font-size':size/2+'px','padding-top':size/8+'px'}">
            复原成功
          </div>
        </v-card-title>
        <v-card-actions>
          <v-layout row wrap style="margin: 0%;">
            <v-flex xs6 d-flex>
              <v-btn block color="black" text @click="completed = false;" :height="size">
                <div :style="{'font-size':size/3+'px'}">确定</div>
              </v-btn>
            </v-flex>
            <v-flex xs6 d-flex>
              <v-btn block color="red" text @click="completed = false;shuffle();" :height="size">
                <div :style="{'font-size':size/3+'px'}">重试</div>
              </v-btn>
            </v-flex>
          </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</v-app>
