<v-container fluid grid-list-md text-xs-center v-show="show" style="padding-top: 0%">
  <v-layout row wrap>
    <template v-for="(group, i) in scripts">
      <v-flex xs4 style="margin: 0%; padding: 0%">
        <v-btn class="title" :color="type == i?'primary':''" :outline="type == i" block :disabled="game.lock || playing"
          style="text-transform:none; min-width: 0%; min-height: 0%; margin: 0%; padding: 0%; width: 100%"
          @click.stop.prevent="type = i">{{type==i?script.name:group.name}}</v-btn>
      </v-flex>
    </template>
    <v-flex xs12>
      <v-text-field outline single-line hide-details class="title" :append-icon="exp==script.exp?'':'settings_backup_restore'"
        @click:append="exp=script.exp" v-model="exp"></v-text-field>
    </v-flex>
    <v-flex xs12 style="padding-left: 5%; padding-right: 5%">
      <v-slider style="margin: 0%" readonly hide-details thumb-label="false" ticks="always" v-model="progress" :max="actions.length"></v-slider>
    </v-flex>
    <v-flex xs2>
      <v-btn icon large :disabled="game.lock" @mousedown="indexDown(-1)" @mouseup="indexUp(-1)" @mouseleave="indexUp(-1)"
        @touchstart.stop.prevent="indexDown(-1)" @touchend.stop.prevent="indexUp(-1)" style="margin: 0%; padding: 0%;">
        <v-icon>arrow_back</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2>
      <v-btn icon large :disabled="playing || progress==0" @click.stop.prevent="backward" style="margin: 0%; padding: 0%;">
        <v-icon>fast_rewind</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2>
      <v-btn icon large :disabled="game.lock || playing || progress==0" @click.stop.prevent="stop" style="margin: 0%; padding: 0%;">
        <v-icon>stop</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2>
      <v-btn icon large :disabled="(game.lock && !playing) || (progress == actions.length)" @click.stop.prevent="playing = !playing; play();"
        style="margin: 0%; padding: 0%;">
        <v-icon>{{playing?'pause':'play_arrow'}}</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2>
      <v-btn icon large :disabled="playing || (progress == actions.length)" @click.stop.prevent="forward" style="margin: 0%; padding: 0%;">
        <v-icon>fast_forward</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2>
      <v-btn icon large :disabled="game.lock" @mousedown="indexDown(1)" @mouseup="indexUp(1)" @mouseleave="indexUp(1)"
        @touchstart.stop.prevent="indexDown(1)" @touchend.stop.prevent="indexUp(1)" style="margin: 0%; padding: 0%;">
        <v-icon>arrow_forward</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</v-container>