<v-container fluid grid-list-md text-xs-center v-show="show">
    <v-layout row wrap>
        <v-flex xs12>
            <v-card-text class="title" style="height: 2em">{{queue.join(' ')}}</v-card-text>
        </v-flex>
        <v-flex v-for="operation in operations" d-flex xs2>
            <v-btn :disabled="disabled" @click="twist(operation + suffix)" class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none">{{operation}}{{suffix}}
            </v-btn>
        </v-flex>
        <v-flex d-flex xs6>
            <v-btn-toggle v-model="shift" style="width:100%" multiple>
                <v-btn block class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none"
                    value="reverse">reverse</v-btn>
            </v-btn-toggle>
        </v-flex>
        <v-flex d-flex xs6>
            <v-btn-toggle v-model="shift" style="width:100%" multiple>
                <v-btn block class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none"
                    value="double">double</v-btn>
            </v-btn-toggle>
        </v-flex>
    </v-layout>
</v-container>