<v-container fluid grid-list-md text-xs-center :style="{width:width + 'px', height:height + 'px'}" style="padding:0%;touch-action: none;">
  <v-layout row wrap style="margin: 0%; padding:0%; min-width: 0%; min-height: 0%;">
    <v-flex xs2 d-flex style="padding:0%; min-width: 0%; min-height: 0%;">
      <v-btn @click.native.stop.prevent="layers=(layers+1)%3" @touchstart.native.stop.prevent="layers=(layers+1)%3" :color="'primary'" outlined :style="style">
        <v-icon :size="height/5">{{['filter_1', 'filter_2', 'filter_3'][layers]}}</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2 d-flex style="padding:0%">
      <v-btn
        @click.native.stop.prevent="option.mirror=!option.mirror"
        @touchstart.native.stop.prevent="option.mirror=!option.mirror"
        :color="option.mirror?'primary':''"
        outlined
        :style="style"
      >
        <v-icon :size="height/5">flip</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2 d-flex style="padding:0%">
      <v-btn
        @click.native.stop.prevent="cuber.controller.lock=!cuber.controller.lock"
        @touchstart.native.stop.prevent="cuber.controller.lock=!cuber.controller.lock"
        :color="cuber.controller.lock?'primary':''"
        outlined
        :style="style"
      >
        <v-icon :size="height/5">{{cuber.controller.lock?'lock':'lock_open'}}</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2 d-flex style="padding:0%">
      <v-btn
        @click.native.stop.prevent="cfop=(cfop+1)%5;cuber.strip(strips[cfop])"
        @touchstart.native.stop.prevent="cfop=(cfop+1)%5;cuber.strip(strips[cfop])"
        :color="cfop>0?'primary':''"
        outlined
        :style="style"
      >
        <v-icon v-if="cfop==0" :size="height/5">colorize</v-icon>
        <div v-if="cfop>0" :style="{'font-size':(height/8)+'px'}">{{['Crs','F2L','OLL','PLL'][cfop - 1]}}</div>
      </v-btn>
    </v-flex>
    <v-flex xs2 d-flex style="padding:0%">
      <v-btn disabled outlined :style="style">
        <v-icon :size="height/5">school</v-icon>
      </v-btn>
    </v-flex>
    <v-flex xs2 d-flex style="padding:0%">
      <v-btn
        outlined
        :disabled="cuber.history.length == 0 || cuber.controller.lock"
        @click.native.stop.prevent="reverse()"
        @touchstart.native.stop.prevent="reverse()"
        :style="style"
      >
        <v-icon :size="height/5">replay</v-icon>
      </v-btn>
    </v-flex>
    <v-flex v-for="exp in exps" d-flex xs2 style="padding:0%">
      <v-btn outlined @click.native.stop.prevent="twist(exp)" @touchstart.native.stop.prevent="twist(exp)" :disabled="cuber.controller.lock" :style="style"
        ><div :style="{'font-size':(height/8)+'px'}">{{exp}}</div>
      </v-btn>
    </v-flex>
  </v-layout>
</v-container>
