<v-app>
    <div ref=view style="height: 100%" v-resize="resize">
        <div ref=cuber></div>
        <div ref=panel>
            <v-container fluid grid-list-md text-xs-center v-show="mode == 'keyboard'">
                <v-layout row wrap>
                    <v-flex v-for="operation in operations" d-flex xs2>
                        <v-btn @click="operate(operation + suffix)" class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none">{{operation}}{{suffix}}
                        </v-btn>
                    </v-flex>
                    <v-flex d-flex xs6>
                        <v-btn-toggle v-model="shift" style="width:100%" multiple>
                            <v-btn block class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none"
                                value="reverse">reverse</v-btn>
                        </v-btn-toggle>
                    </v-flex>
                    <v-flex d-flex xs6>
                        <v-btn-toggle v-model="shift" style="width:100%" multiple>
                            <v-btn block class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none"
                                value="double">double</v-btn>
                        </v-btn-toggle>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-container fluid grid-list-md text-xs-center v-show="mode == 'script'">
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card-text @click="menu = true">{{script}}</v-card-text>
                    </v-flex>
                    <v-flex xs12>
                        <v-slider v-model="progress"></v-slider>
                    </v-flex>
                    <v-flex xs12>
                        <v-btn flat>
                            <v-icon>fast_rewind</v-icon>
                        </v-btn>
                        <v-btn flat>
                            <v-icon>pause</v-icon>
                        </v-btn>
                        <v-btn flat>
                            <v-icon>fast_forward</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
    </div>
    <v-btn fixed top right icon large outline @click="onMenuClick">
        <v-icon>menu</v-icon>
    </v-btn>
    <v-dialog v-model="menu" scrollable>
        <v-card tile>
            <v-toolbar card>
                <v-toolbar-title>Settings</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn icon @click="menu = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-subheader>Control Mode</v-subheader>
                <v-btn-toggle v-model="mode" mandatory style="width:100%">
                    <v-btn block value="touch">Touch</v-btn>
                    <v-btn block value="keyboard">Keyboard</v-btn>
                    <v-btn block value="script">Script </v-btn>
                </v-btn-toggle>
                <v-divider></v-divider>
                <v-subheader>Action</v-subheader>
                <v-btn block @click="reset">Reset</v-btn>
            </v-card-text>
        </v-card>
    </v-dialog>
</v-app>