<v-app>
    <div ref=view style="height: 100%" v-resize="resize">
        <div ref=cuber></div>
        <div ref=panel>
            <v-container grid-list-md text-xs-center v-if="buttonPanel">
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card dark color="primary">
                            <v-card-text class="px-0">12</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex v-for="i in 2" :key="`6${i}`" xs6>
                        <v-card dark color="secondary">
                            <v-card-text class="px-0">6</v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-container grid-list-md text-xs-center v-if="scriptPanel">
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card dark color="primary">
                            <v-card-text class="px-0">12</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex v-for="i in 2" :key="`6${i}`" xs6>
                        <v-card dark color="secondary">
                            <v-card-text class="px-0">6</v-card-text>
                        </v-card>
                    </v-flex>
                    <v-flex v-for="i in 3" :key="`4${i}`" xs4>
                        <v-card dark color="primary">
                            <v-card-text class="px-0">4</v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
    </div>
    <v-btn fixed top right icon large outline @click="onMenuClick">
        <v-icon>menu</v-icon>
    </v-btn>
    <v-navigation-drawer v-model="drawer" absolute temporary touchless>
        <v-toolbar flat>
            <v-list>
                <v-list-tile>
                    <v-list-tile-title class="title">
                        Menu
                    </v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-toolbar>
        <v-divider></v-divider>
        <v-list dense>
            <v-list-tile @click="onModeClick">
                <v-list-tile-action>
                    <v-icon>dashboard</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Mode</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="onOptionClick">
                <v-list-tile-action>
                    <v-icon>settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Option</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="onActionClick">
                <v-list-tile-action>
                    <v-icon>build</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Action</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
    <v-dialog v-model="modeDialog">
        <v-toolbar flat>
            <v-list>
                <v-list-tile>
                    <v-list-tile-title class="title">
                        Select Mode
                    </v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-toolbar>
        <v-divider></v-divider>
        <v-list dense>
            <v-list-tile @click="onModeSelect('touch')">
                <v-list-tile-action>
                    <v-icon>touch_app</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Touch</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="onModeSelect('button')">
                <v-list-tile-action>
                    <v-icon>apps</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Button</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile @click="onModeSelect('script')">
                <v-list-tile-action>
                    <v-icon>code</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Script</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-dialog>
</v-app>