<v-app>
    <div v-resize="resize">
        <div ref=cuber></div>
        <div ref=panel>
            <v-container fluid grid-list-md text-xs-center v-show="mode == 'keyboard'">
                <v-layout row wrap>
                    <v-flex v-for="operation in operations" d-flex xs2>
                        <v-btn :disabled="lock" @click="operate(operation + suffix)" class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none">{{operation}}{{suffix}}
                        </v-btn>
                    </v-flex>
                    <v-flex d-flex xs6>
                        <v-btn-toggle v-model="shift" style="width:100%" multiple>
                            <v-btn block class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none"
                                value="reverse">reverse</v-btn>
                        </v-btn-toggle>
                    </v-flex>
                    <v-flex d-flex xs6>
                        <v-btn-toggle v-model="shift" style="width:100%" multiple>
                            <v-btn block class="headline" style="width:auto; height:2em; min-width: 0%; min-height: 0%; margin: 0%; text-transform:none"
                                value="double">double</v-btn>
                        </v-btn-toggle>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-container fluid grid-list-md text-xs-center v-show="mode == 'script'">
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-card-text class="title" :disabled="lock" @click="scriptDialog = true">{{script}}</v-card-text>
                    </v-flex>
                    <v-flex xs12>
                        <v-slider readonly always-dirty thumb-label="always" ticks="always" v-model="progress" :max="actions.length"></v-slider>
                    </v-flex>
                    <v-flex xs12>
                        <v-btn icon large :disabled="lock || playing || progress==0" @click="progress = 0">
                            <v-icon>skip_previous</v-icon>
                        </v-btn>
                        <v-btn icon large :disabled="lock || playing || progress==0" @click="progress = progress - 1">
                            <v-icon>fast_rewind</v-icon>
                        </v-btn>
                        <v-btn icon large :disabled="lock && !playing" @click="playing = !playing">
                            <v-icon>{{playing?'pause':(progress == actions.length?'replay':'play_arrow')}}</v-icon>
                        </v-btn>
                        <v-btn icon large :disabled="lock || playing || (progress == actions.length)" @click="progress = progress + 1">
                            <v-icon>fast_forward</v-icon>
                        </v-btn>
                        <v-btn icon large :disabled="lock || playing || progress == actions.length" @click="progress = actions.length">
                            <v-icon>skip_next</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
    </div>
    <v-btn fixed top right icon large outline @click="onMenuClick">
        <v-icon>menu</v-icon>
    </v-btn>
    <v-dialog v-model="menu">
        <v-card tile>
            <v-toolbar card>
                <v-toolbar-title>Settings</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn icon @click="menu = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-card-text>
                <v-subheader>Control Mode</v-subheader>
                <v-btn-toggle v-model="mode" mandatory style="width:100%">
                    <v-btn block value="touch">Touch</v-btn>
                    <v-btn block value="keyboard">Keyboard</v-btn>
                    <v-btn block value="script">Script </v-btn>
                </v-btn-toggle>
                <v-divider></v-divider>
                <v-subheader>Action</v-subheader>
                <v-btn block @click="menu = false; reset()" :disabled="lock || mode=='script'">Reset</v-btn>
            </v-card-text>
        </v-card>
    </v-dialog>
    <v-dialog v-model="scriptDialog">
        <v-card tile>
            <v-toolbar>
                <v-toolbar-title>Scripts</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn icon @click="scriptDialog = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar-items>
            </v-toolbar>
            <v-tabs grow>
                <template v-for="(group, index) in scripts">
                    <v-tab :key="index">
                        {{group.name}}
                    </v-tab>
                </template>
                <v-tabs-items>
                    <template v-for="(group, index) in scripts">
                        <v-tab-item :key="index">
                            <v-container fluid grid-list-md text-xs-center style="padding: 0%">
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <v-card tile>
                                            <v-list>
                                                <template v-for="(item, i) in getPageScripts(index)">
                                                    <v-list-tile ripple @click="if (item.name.length != 0){script = item.script; scriptDialog = false;}"
                                                        :key="i">
                                                        <v-list-tile-content>
                                                            <v-list-tile-title>{{item.name}}</v-list-tile-title>
                                                            <v-list-tile-sub-title>{{item.script}}</v-list-tile-sub-title>
                                                        </v-list-tile-content>
                                                    </v-list-tile>
                                                    <v-divider v-if="i < 7"></v-divider>
                                                </template>
                                            </v-list>
                                        </v-card>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-pagination v-model="pages[index]" :length="Math.ceil(group.scripts.length / 8)"></v-pagination>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-tab-item>
                    </template>
                </v-tabs-items>
            </v-tabs>
        </v-card>
    </v-dialog>
</v-app>