<div ref="wrap" :class="['vue-slider-component', flowDirection, disabledClass]"
    v-show="show" :style="[wrapStyles]" @click="wrapClick">
    <div ref="elem" aria-hidden="true" class="vue-slider" :style="[elemStyles, bgStyle]">
        <div ref="dot" key="dot" :class="[
          tooltipStatus,
          'vue-slider-dot',
          {
            'vue-slider-dot-focus': focusFlag && focusSlider === 0,
            'vue-slider-dot-dragging': flag && currentSlider === 0
          }
        ]"
            :style="[
          dotStyles,
          sliderStyles,
          focusFlag && focusSlider === 0 ? focusStyles : null
        ]"
            @mousedown="moveStart" @touchstart="moveStart">
            <div :class="['vue-slider-tooltip-' + tooltipDirection, 'vue-slider-tooltip-wrap']">
                <slot name="tooltip" :value="val">
                    <span class="vue-slider-tooltip" :style="tooltipStyles">{{ formatter ? formatting(val) : val }}</span>
                </slot>
            </div>
        </div>
        <!-- <ul class="vue-slider-piecewise">
            <li v-for="(piecewiseObj, index) in piecewiseDotWrap" class="vue-slider-piecewise-item" :style="[piecewiseDotStyle, piecewiseObj.style]"
                :key="index">
                <slot name="piecewise" :label="piecewiseObj.label" :index="index" :first="index === 0" :last="index === piecewiseDotWrap.length - 1"
                    :active="piecewiseObj.inRange">
                    <span v-if="piecewise" class="vue-slider-piecewise-dot" :style="[ piecewiseStyle, piecewiseObj.inRange ? piecewiseActiveStyle : null ]"></span>
                </slot>

                <slot name="label" :label="piecewiseObj.label" :index="index" :first="index === 0" :last="index === piecewiseDotWrap.length - 1"
                    :active="piecewiseObj.inRange">
                    <span v-if="piecewiseLabel" class="vue-slider-piecewise-label" :style="[ labelStyle, piecewiseObj.inRange ? labelActiveStyle : null ]">
                        {{ piecewiseObj.label }}
                    </span>
                </slot>
            </li>
        </ul>
        <div ref="process" :class="['vue-slider-process', { 'vue-slider-process-dragable': isRange && processDragable }]"
            :style="processStyle" @click="processClick" @mousedown="moveStart($event, 0, true)" @touchstart="moveStart($event, 0, true)">
            <div ref="mergedTooltip" :class="['vue-merged-tooltip', 'vue-slider-tooltip-' + tooltipDirection[0], 'vue-slider-tooltip-wrap']"
                :style="tooltipMergedPosition">
                <slot name="tooltip" :value="val" :merge="true">
                    <span class="vue-slider-tooltip" :style="tooltipStyles">
                        {{ mergeFormatter ? mergeFormatting(val[0], val[1]) : (formatter ? (val[0] === val[1] ?
                        formatting(val[0]) : `${formatting(val[0])} - ${formatting(val[1])}`) : (val[0] === val[1] ?
                        val[0] : `${val[0]} - ${val[1]}`)) }}
                    </span>
                </slot>
            </div>
        </div> -->
        <input v-if="!isRange && !data" class="vue-slider-sr-only" type="range" v-model="val" :min="min" :max="max" />
    </div>
</div>