<v-bottom-sheet v-model="value">
  <v-card flat :width="game.canvas.width" style="margin: auto">
    <v-container fluid grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs4>
          <fast-button class="headline" :color="database.option.mode == 'play'?'primary':''" flat block @tap="$emit('input', false); mode('play')" style="height: 2em; min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
            <v-icon large>games</v-icon>
          </fast-button>
        </v-flex>
        <v-flex xs4>
          <fast-button class="headline" :color="database.option.mode == 'script'?'primary':''" flat block @tap="$emit('input', false); mode('script')" style="height: 2em; min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
            <v-icon large>school</v-icon>
          </fast-button>
        </v-flex>
        <v-flex xs4>
          <fast-button class="headline" :color="database.option.mode == 'movie'?'primary':''" flat block @tap="$emit('input', false); mode('movie')" style="height: 2em; min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
            <v-icon large>movie</v-icon>
          </fast-button>
        </v-flex>
      </v-layout>
      <v-divider></v-divider>
      <v-layout row wrap>
        <v-flex xs4>
          <fast-button class="headline" flat block @tap="$emit('input', false); tune=true" style="height: 2em; min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
            <v-icon large>palette</v-icon>
          </fast-button>
        </v-flex>
        <v-flex xs4>
          <fast-button class="headline" flat block @tap="$emit('input', false); data=true" style="height: 2em; min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
            <v-icon large>folder</v-icon>
          </fast-button>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
  <tune-menu v-model="tune"></tune-menu>
  <data-menu v-model="data"></data-menu>
</v-bottom-sheet>