<v-bottom-sheet v-model="show" overlay-opacity="0" v-resize="resize">
  <v-card text style="margin: auto; touch-action: none; user-select: none;">
    <v-container fluid grid-list-md text-xs-center :style="{width:Math.min(width, height * 0.6) + 'px'}">
      <v-layout row wrap justify-center align-center
        :style="{'font-size':(size * 0.3)+'px','min-height':size+'px'}">
        <v-slider dense v-model="preferance.scale" always-dirty thumb-label="always" max="100" min="0" label="缩放"
          :thumb-size="size * 0.6">
        </v-slider>
      </v-layout>
      <v-layout row wrap justify-center align-center
        :style="{'font-size':(size * 0.3)+'px','min-height':size+'px'}">
        <v-slider dense v-model="preferance.perspective" always-dirty thumb-label="always" max="100" min="0" label="透视"
          :thumb-size="size * 0.6">
        </v-slider>
      </v-layout>
      <v-layout row wrap justify-center align-center
        :style="{'font-size':(size * 0.3)+'px','min-height':size+'px'}">
        <v-slider dense v-model="preferance.angle" always-dirty thumb-label="always" max="100" min="0" label="左右"
          :thumb-size="size * 0.6">
        </v-slider>
      </v-layout>
      <v-layout row wrap justify-center align-center
        :style="{'font-size':(size * 0.3)+'px','min-height':size+'px'}">
        <v-slider dense v-model="preferance.gradient" always-dirty thumb-label="always" max="100" min="0" label="上下"
          :thumb-size="size * 0.6">
        </v-slider>
      </v-layout>
    </v-container>
  </v-card>
</v-bottom-sheet>
