<v-app>
  <div v-resize="resize">
    <div ref=cuber></div>
    <div ref=panel>
      <keyboard-panel :show="database.option.mode == 'play' && database.option.keyboard" @hide="database.option.keyboard = false"></keyboard-panel>
      <course-panel :show="database.option.mode == 'course'"></course-panel>
      <script-panel :show="database.option.mode == 'script'"></script-panel>
      <timer-panel :show="database.option.mode == 'timer'"></timer-panel>
    </div>
    <fast-button fixed top right icon large @tap="menu = !menu;">
      <v-icon large>menu</v-icon>
    </fast-button>
    <fast-button v-show="database.option.mode == 'play' && !database.option.keyboard" fixed bottom right icon large @tap="database.option.keyboard = !database.option.keyboard;">
      <v-icon large>keyboard</v-icon>
    </fast-button>
    <fast-button fixed top left icon class="title" @tap v-if="exp != ''" style="text-transform:none">{{exp}}</fast-button>
  </div>
  <app-menu v-model="menu"></app-menu>
</v-app>