<v-app>
    <div v-resize="resize">
        <div ref=cuber></div>
        <div ref=panel>
            <keyboard-panel :show="mode == 'play' && keyboard"></keyboard-panel>
            <script-panel :show="mode == 'alg'"></script-panel>
            <timer-panel :show="mode == 'timer'"></timer-panel>
        </div>
        <v-btn :disabled="lock" fixed top right icon large outline @click.stop.prevent="menu = !menu;">
            <v-icon>menu</v-icon>
        </v-btn>
        <v-btn fixed top left icon class="title" @click.stop.prevent v-if="exp != ''" style="text-transform:none">{{exp}}</v-btn>
    </div>
    <v-bottom-sheet v-model="menu">
        <v-card flat>
            <v-container fluid grid-list-md text-xs-center>
                <v-layout row wrap justify-center align-center>
                    <v-flex xs3>
                        <p class="subheading" style="margin: 0%; padding: 0%; text-align: left">Mode:</p>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn :disabled="lock || mode == 'play'" outline block @click.stop.prevent="mode = 'play'" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
                            <v-icon>games</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn :disabled="lock || mode == 'alg'" outline block @click.stop.prevent="mode = 'alg'" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
                            <v-icon>school</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn :disabled="lock || mode == 'timer'" outline block @click.stop.prevent="mode = 'timer'" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
                            <v-icon>timer</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row wrap justify-center align-center v-show="mode == 'play'">
                    <v-flex xs3>
                        <p class="subheading" style="margin: 0%; padding: 0%; text-align: left;">Action:</p>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn flat outline block @click.stop.prevent="keyboard = !keyboard" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" :disabled="lock">
                            <v-icon>{{keyboard?'touch_app':'keyboard'}}</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn flat outline block @click.stop.prevent="game.random()" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" :disabled="lock">
                            <v-icon>casino</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn flat outline block @click.stop.prevent="game.reset()" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" :disabled="lock">
                            <v-icon>replay</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider v-show="mode == 'play'">
                <v-layout row wrap justify-center align-center>
                    <v-flex xs3>
                        <p class="subheading" style="margin: 0%; padding: 0%; text-align: left">Speed:</p>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn icon :disabled="game.duration == 75" @click.stop.prevent="game.duration = game.duration + 15" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
                            <v-icon>remove</v-icon>
                        </v-btn>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn icon outline @click.stop.prevent :ripple="false" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">{{(90 - game.duration)/15}}
                        </v-btn>
                    </v-flex>
                    <v-flex xs3>
                        <v-btn icon :disabled="game.duration == 15" @click.stop.prevent="game.duration = game.duration - 15" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">
                            <v-icon>add</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
                <v-layout row wrap justify-center align-center>
                    <v-flex xs12>
                        <v-btn block outline @click.stop.prevent="menu=false; about=true" style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;">about</v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-bottom-sheet>
    <v-dialog v-model="about">
        <v-card>
            <v-toolbar dark color="primary">
                <v-toolbar-title>About</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon dark @click.native="about = false">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-text>
                <a class="headline" href="https://github.com/huazhechen/cuber">Code</a>
            </v-card-text>

            <v-card-actions>
                <v-btn block outline @click.stop.prevent="about = false">OK</v-btn>
                <v-btn block outline @click.stop.prevent="reset" color="error">RESET</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-app>