<template>
  <div style="margin:0 auto;display: flex;flex-flow: column;height: 100%;background-color: #C0C0C0;" v-resize="resize">
    <div>
      <v-tabs v-model="tab" grow color="cyan">
        <v-tab v-for="(group,i) in algs" :key="i" :href="`#tab-${i}`">
          {{ group.name}}
        </v-tab>
      </v-tabs>
    </div>
    <div style="flex: 1;overflow: auto;">
      <v-tabs-items v-model="tab">
        <v-tab-item v-for="(group,i) in pics" :key="i" :value="'tab-' + i" style="height: 100%;">
          <v-layout row wrap style="margin: 0%; padding:0%; min-width: 0%; min-height: 0%;align-items: stretch;">
            <v-flex d-flex style="padding:0%; min-width: 0%; min-height: 0%;" v-for="(pic, j) in group">
              <v-card outlined :style="{width:width+'px'}" style="height: 100%;">
                <p class="title" style="text-align:center;margin: 0%;padding: 0%;color: indianred">{{algs[i].algs[j].name}}</h>
                <img :src="pic" style="width: 100%;" />
                <p style="text-align:center;word-wrap:break-word;margin: 0%;padding: 0%;">{{algs[i].algs[j].exp}}</p>
              </v-card>
            </v-flex>
          </v-layout>
        </v-tab-item>
      </v-tabs-items>
    </div>
  </div>
</template>